DiplomskiApartmani/ApartmaniMVC/Connected Services/ApartmaniCRUDServis/ApartmaniCRUDService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53563/ApartmaniCRUDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" />
  <xs:element name="dohvatiListuApartmana">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dohvatiListuApartmanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" minOccurs="0" name="dohvatiListuApartmanaResult" nillable="true" type="q1:ArrayOfApartmanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kreirajNoviApartman">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" minOccurs="0" name="noviApartman" nillable="true" type="q2:ApartmanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kreirajNoviApartmanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kreirajNoviApartmanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dohvatiApartmanID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dohvatiApartmanIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" minOccurs="0" name="dohvatiApartmanIDResult" nillable="true" type="q3:ApartmanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="urediApartman">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" minOccurs="0" name="apartman" nillable="true" type="q4:ApartmanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="urediApartmanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="urediApartmanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>