DiplomskiApartmani/GostMVC/Connected Services/RezervacijeCRUDServis/RezervacijeCRUDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRezervacijaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RezervacijaDTO" nillable="true" type="tns:RezervacijaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRezervacijaDTO" nillable="true" type="tns:ArrayOfRezervacijaDTO" />
  <xs:complexType name="RezervacijaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApartmanID" type="xs:int" />
      <xs:element minOccurs="0" name="Do" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GostID" type="xs:int" />
      <xs:element minOccurs="0" name="ImeGosta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NazivApartmana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Od" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrezimeGosta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RezervacijaID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RezervacijaDTO" nillable="true" type="tns:RezervacijaDTO" />
</xs:schema>