DiplomskiApartmani/GostMVC/Connected Services/ApartmaniCRUDServis/ApartmaniCRUDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfApartmanDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApartmanDTO" nillable="true" type="tns:ApartmanDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApartmanDTO" nillable="true" type="tns:ArrayOfApartmanDTO" />
  <xs:complexType name="ApartmanDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApartmanID" type="xs:int" />
      <xs:element minOccurs="0" name="BrojOsoba" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cijena" type="xs:decimal" />
      <xs:element minOccurs="0" name="Grad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Povrsina" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApartmanDTO" nillable="true" type="tns:ApartmanDTO" />
</xs:schema>