DiplomskiApartmani/ApartmaniMVC/Connected Services/RezervacijeCRUDServis/RezervacijeCRUDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RezervacijeCRUDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53563/RezervacijeCRUDService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53563/RezervacijeCRUDService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53563/RezervacijeCRUDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRezervacijeCRUDService_dohvatiNepotvrdeneRezervacije_InputMessage">
    <wsdl:part name="parameters" element="tns:dohvatiNepotvrdeneRezervacije" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_dohvatiNepotvrdeneRezervacije_OutputMessage">
    <wsdl:part name="parameters" element="tns:dohvatiNepotvrdeneRezervacijeResponse" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_dohvatiRezervacijeZaApartman_InputMessage">
    <wsdl:part name="parameters" element="tns:dohvatiRezervacijeZaApartman" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_dohvatiRezervacijeZaApartman_OutputMessage">
    <wsdl:part name="parameters" element="tns:dohvatiRezervacijeZaApartmanResponse" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_dohvatiRezervacijeZaGosta_InputMessage">
    <wsdl:part name="parameters" element="tns:dohvatiRezervacijeZaGosta" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_dohvatiRezervacijeZaGosta_OutputMessage">
    <wsdl:part name="parameters" element="tns:dohvatiRezervacijeZaGostaResponse" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_kreirajNovuRezervaciju_InputMessage">
    <wsdl:part name="parameters" element="tns:kreirajNovuRezervaciju" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_kreirajNovuRezervaciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:kreirajNovuRezervacijuResponse" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_promijeniStatusRezervacije_InputMessage">
    <wsdl:part name="parameters" element="tns:promijeniStatusRezervacije" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_promijeniStatusRezervacije_OutputMessage">
    <wsdl:part name="parameters" element="tns:promijeniStatusRezervacijeResponse" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_provjeriDostupnost_InputMessage">
    <wsdl:part name="parameters" element="tns:provjeriDostupnost" />
  </wsdl:message>
  <wsdl:message name="IRezervacijeCRUDService_provjeriDostupnost_OutputMessage">
    <wsdl:part name="parameters" element="tns:provjeriDostupnostResponse" />
  </wsdl:message>
  <wsdl:portType name="IRezervacijeCRUDService">
    <wsdl:operation name="dohvatiNepotvrdeneRezervacije">
      <wsdl:input wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/dohvatiNepotvrdeneRezervacije" message="tns:IRezervacijeCRUDService_dohvatiNepotvrdeneRezervacije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/dohvatiNepotvrdeneRezervacijeResponse" message="tns:IRezervacijeCRUDService_dohvatiNepotvrdeneRezervacije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dohvatiRezervacijeZaApartman">
      <wsdl:input wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/dohvatiRezervacijeZaApartman" message="tns:IRezervacijeCRUDService_dohvatiRezervacijeZaApartman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/dohvatiRezervacijeZaApartmanResponse" message="tns:IRezervacijeCRUDService_dohvatiRezervacijeZaApartman_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dohvatiRezervacijeZaGosta">
      <wsdl:input wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/dohvatiRezervacijeZaGosta" message="tns:IRezervacijeCRUDService_dohvatiRezervacijeZaGosta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/dohvatiRezervacijeZaGostaResponse" message="tns:IRezervacijeCRUDService_dohvatiRezervacijeZaGosta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="kreirajNovuRezervaciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/kreirajNovuRezervaciju" message="tns:IRezervacijeCRUDService_kreirajNovuRezervaciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/kreirajNovuRezervacijuResponse" message="tns:IRezervacijeCRUDService_kreirajNovuRezervaciju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="promijeniStatusRezervacije">
      <wsdl:input wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/promijeniStatusRezervacije" message="tns:IRezervacijeCRUDService_promijeniStatusRezervacije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/promijeniStatusRezervacijeResponse" message="tns:IRezervacijeCRUDService_promijeniStatusRezervacije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="provjeriDostupnost">
      <wsdl:input wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/provjeriDostupnost" message="tns:IRezervacijeCRUDService_provjeriDostupnost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRezervacijeCRUDService/provjeriDostupnostResponse" message="tns:IRezervacijeCRUDService_provjeriDostupnost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRezervacijeCRUDService" type="tns:IRezervacijeCRUDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dohvatiNepotvrdeneRezervacije">
      <soap:operation soapAction="http://tempuri.org/IRezervacijeCRUDService/dohvatiNepotvrdeneRezervacije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dohvatiRezervacijeZaApartman">
      <soap:operation soapAction="http://tempuri.org/IRezervacijeCRUDService/dohvatiRezervacijeZaApartman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dohvatiRezervacijeZaGosta">
      <soap:operation soapAction="http://tempuri.org/IRezervacijeCRUDService/dohvatiRezervacijeZaGosta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kreirajNovuRezervaciju">
      <soap:operation soapAction="http://tempuri.org/IRezervacijeCRUDService/kreirajNovuRezervaciju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="promijeniStatusRezervacije">
      <soap:operation soapAction="http://tempuri.org/IRezervacijeCRUDService/promijeniStatusRezervacije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="provjeriDostupnost">
      <soap:operation soapAction="http://tempuri.org/IRezervacijeCRUDService/provjeriDostupnost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RezervacijeCRUDService">
    <wsdl:port name="BasicHttpBinding_IRezervacijeCRUDService" binding="tns:BasicHttpBinding_IRezervacijeCRUDService">
      <soap:address location="http://localhost:53563/RezervacijeCRUDService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>