DiplomskiApartmani/GostMVC/Connected Services/RegistracijaCRUDServis/RegistracijaCRUDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApartmaniService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GostDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GostID" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sifra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GostDTO" nillable="true" type="tns:GostDTO" />
</xs:schema>